body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
}

.t-row {
    display: flex;
}

.t-board {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
}

.t-cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    color: grey;
}

.t-cell-0 {
    background-color: black;
}

.t-cell-1 {
    background-color: #00d;
    border-bottom: 1px solid #00f;
    border-right: 1px solid #00f;
    border-top: 1px solid #00b;
    border-left: 1px solid #00b;
}

.t-cell-2 {
    background-color: green;
}

.t-cell-3 {
    background-color: red;
}

.t-score-label {
    font-weight: bold;
}

.t-score-label {
    font-weight: bold;
}

.t-parent {
    display: flex;
}

element.style {
    width: 44px;
    left: 0px;
}
